name: CI - Build & Test Go App

on:
  pull_request:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Verify go.mod
        run: go mod tidy && git diff --exit-code

      - name: Build
        run: go build ./src/...

      - name: Test
        run: go test ./src/...
